# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
*.sqlite3

# Virtual environments
.venv/
env/
venv/

.idea

# Rasa models
rasa/*.db
rasa/.rasa/cache

# Ollama cache (if downloading locally)
.ollama/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
docker-compose.override.yml

# Secrets
.env